<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Stable to Fiat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="offersDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Offers
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offersDropdown">
                        <li><a class="dropdown-item" href="{% url "offers-list" %}">View Our Offers</a></li>
                        <li><a class="dropdown-item" href="{% url "add-offer" %}">Add Offer</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "order-list" %}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Buy</a>
                </li>  <li class="nav-item">
                    <a class="nav-link" href="#">Sell</a>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url "user-profile" user.id %}">Profile</a></li>
                            <li><a class="dropdown-item" href="{% url "user-verification" %}">Account Verification </a></li>
                            <li><a class="dropdown-item" href="#">Trade History</a></li>
                            <li><a class="dropdown-item" href={% url "password_reset" %}>Change Password</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-user' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
                
       